.productCard {
    padding: 1.5rem;
    min-width: 10rem;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  .productCard img {
    width: 13rem;
    height: 14rem;
  }
  .productCard button {
    float: right;
    margin-bottom: 0.3rem;
  }
  .productCard section {
    height: 5rem;
    overflow: hidden;
    position: relative;
  }
  .productCard p {
    margin: 0;
    padding: 0;
  }
  .productCard span {
    bottom: 0;
    position: absolute;
    font-weight: bold;
  }
  
  .productCard:hover {
    -webkit-transform: scale(1.015) translateZ(0) perspective(1px);
    transform: scale(1.015) translateZ(0) perspective(1px);
    box-shadow: 0 10px 50px -5px #ccc;
    transition: 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }