.header {
    display : flex ; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding : 1rem ;   
    border-bottom:1px solid #d1c6be;
    color:#636060
}
.header h1{
    margin: 0;
}
.header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin : 0 ; 
}
.header li{
    list-style-type: none;
    margin:0 1rem;
}
.header li:hover{
    color : #df8484 ; 
}
