.wrapper{
    margin: 2rem 8rem;
    text-align: center;
}
.actions{
    margin-top:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin : 1rem 0 ; 
    box-shadow: 0 5px 25px -5px #ccc;
}
.cartItem > section{
    text-align: left;
}
.cartItem button{
    margin: 0.2rem;
}
.headerContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}