.wrapper{
    width: 50%;
    margin: 2rem auto;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; 
}
.wrapper button{
    margin-right: 1rem;
}
.content span{
    margin : 0 1rem ; 
}

.cartItems{
    background-color: white;
    padding: 0.3rem;
    margin: 1rem 0rem;
}
.cartItems p{
    margin: 0.2rem;
}