.profile input {
  background-color: white;
  border: 1px solid gray;
  font: inherit;
  width: 70%;
  margin-left: 1rem;
  padding: 0.2rem;
}
.profile label {
  width: 15%;
}
.profile input:focus,
textarea:focus {
  outline: none;
}
.profile {
  width: 50%;
  margin: 4rem auto;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.profileForm div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.8rem 0;
}
.profileForm button {
  margin-top: 1rem;
  margin-right: 2rem;
}
