input:focus{
    outline: none;
}
input {
    outline: none;
    border: transparent;
    width: 28rem;
}
.wrapper{
    margin: 0 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 0.2rem;
    padding: 0.4rem;
}
